body {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  text-align: center;
}
#container {
  background-color: #003049;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  border: 5px solid #003049;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: wrap; */
}

#container div{
  width: 200px;
  height: 200px;
  text-align: center;
  /*flex-basis: 400px;*/  /*주축 방향의 크기 맞춰서 크기지정 (width 또는 height 무시)*/
  flex-basis:600px;
}

div:nth-of-type(1){
  flex-grow: 1; /* 늘어나는 비율 - 원래 크기보다 커지면? */
  flex-shrink: 2; /* 줄어드는 비율 - 원래 크기보다 작아지면? */
}
div:nth-of-type(5){
  flex-grow: 2;
}


/* flex 속기법*/
h2 {
  text-align: center;
}
main{
  width: 80%;
  margin: 0 auto;
  border: 5px solid black;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

main .sidebar{
  background-color: #ff00fb;
  border: 2px solid white;
  flex:1 2 300px;   /* 단위없이 숫자만 => flex-grow */
}
main .maincontent{
  background-color: yellowgreen;
  flex:2 1 800px;
}